.idea
.venv
venv
.env*
.coverage
.ropeproject
.DS_Store
**/.DS_Store
.vscode
.devcontainer
debug
makefile
docker-compose.dev.yml

# byte-compiled
__pycache__/
*.py[cod]
*$py.class
*.patch

*.sublime-project
*.sublime-workspace
 
mnt/

src/.mypy_cache/
test.py
